# Python
venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Build Python
build/
dist/
*.spec

# Logs
*.log

# Données lourdes
data/*.xlsx
data/*.csv
planning_resultats/
*.pdf
.tmp_asf/

# Electron
electron_app/node_modules/
electron_app/dist/
electron_app/out/
*.app
*.dmg
*.exe
*.zip

# OS
.DS_Store
~/Library/CloudStorage/OneDrive-AviationSansFrontières/1-Processus/ASF_Scheduler_release/app
