# Environnements virtuels
venv/
env/

# Python cache
__pycache__/
*.pyc

# Build Electron
electron_app/dist/
electron_app/out/
electron_app/node_modules/

# Build Python
build/
dist/
*.spec

# Applications générées (EXE, APP, DMG)
*.exe
*.app
*.dmg
*.zip

# Fichiers temporaires
*.log

# Données sensibles ou lourdes
planning_resultats/
data/*.xlsx
data/*.csv
